.dashboard-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.dashboard-container-box-one{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;   
}
.dashboard-container-box-one-carousel{
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    display: flex;
    margin-top: -30px;
    justify-content: center;
}
.limit{
    width: 100%;
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.limit-card{
    width:91px;
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    color:black;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
.limit-card:hover{
    color:#fff200;
    opacity: 0.8;
    font-weight: 600;
    transform: scale(1.1);
}
.limit-card-image{
    width: 100%;
    height:26px;
    opacity: 0.6;
    font-size: 28px;
}

.limit-card-title{
    width: 100%;
    height: 20px;
    opacity: 0.8;
    font-size: 12px;
}
.dashboard-container-box-two{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f8f8f8;
}
.dashboard-container-box-cheap-region{
    width: 90%;
    height: auto;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.dashboard-container-box-two-title{
    width: 90%;
    padding-left: 20px;
    font-size: 1.875em;
    font-weight: 700;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    color: #1e1e1e;
    text-align: left;
}
.dashboard-container-box-two-title span{
    background: #8e8e8e;
    width: 45px;
    height: 3px;
    display: block;
    border-radius: 2px;
    margin: 25px 0;
}
.cheap-card{
    width: 328px;
    height: 255px;
    border-radius: 5px;
    overflow: hidden;
}
.cheap-card-2{
    width: 330px;
    height: 258px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 50px 15px;
    box-shadow: inset    0 -60px 60px  #005ba5 ;
    transition: all 0.5s ease-in-out;
}
.cheap-card-2:hover{
   transform: scale(1.05)   
}
.cheap-card-total-title-box{
    width: 100%;
    height: auto;
}
.cheap-card-title{
    width: 100%;
    text-align: left;
    font-weight: 900;
    color: #fff;
    font-size: 1.5em;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
.cheap-card-price{
    width: 100%;
    text-align: left;
    font-size: 1.25em;
    font-weight: 900;
    color: #fff;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
.see_more{
    width: 100%;
    height: auto;
    text-align: center;
}
.see_more div{
     height: 43px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #005bbf;
    display: inline-block;
    line-height: 43px;
    cursor: pointer;
    padding: 0px 20px;
    border: 1px solid #005bbf;
    text-decoration: none;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}
.see_more div:hover{
    background-color: #005ba5;
    color:#fff;
}

.dashboard-container-box-three{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    background-color: #fff;
}
.dashboard-container-box-three-box{
    width: 90%;
    height: auto;
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.dashboard-container-box-three-box-card{
    width: 31%;
    height: 238px;
    padding: 0 0px ;
    float: left;
    overflow: visible;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    background: #0055a6;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
.card_present_title1{
    width: 100%;
    height: auto;
    padding:8px 12px;
    font-weight: 900;
    font-size: 1.5em;
    color: #fff;
    text-align: left;
}
.card_present_title2{
    width: 100%;
    height: auto;
    padding: 2px ;
    box-sizing: border-box;
    font-size: 1.125em;
    text-align: left;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
}
.card_present_title{
    width: 60%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.card_present_image{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.card_present_image span{
    margin-left: 95px;
    transform: scale(10);
    opacity: 0.7;
    color:#b6afaf;
    justify-content: flex-end;
}
.card_present_title2 span{
    width: 100%;
    height: auto;
    padding: 2px 3px;
    display: block;
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
}
.dashboard-container-box-four{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f8f8f8;
}
.bonus_cards{
    width: 90%;
    height: auto;
    padding: 50px 20px ;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   
}
.bonus_box_card{
    width: 30%;
    height: auto;
    padding: 15px 12px ;
    display: flex;
    flex-wrap: wrap;
    
    background-color: #fff;
    border-radius: 8px;
}
.bonus_box_image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bonus_box_image img{
    width: 88%;
}
.bonus_box_title{
    width: 100%;
    height: auto;
    text-align: left;
    padding: 25px 12px;
    font-weight: 700;
    font-size: 1.125em;
    margin-bottom: 2px;
    display: block;
    color: #1e1e1e;
    text-decoration: none;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
.dashboard-container-box-five{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
}
.aksiya-card-title{
    width: 100%;
    padding-left: 6px;
    padding-top: 8px;
    text-align: left;
    font-weight: 500;
    font-size: 0.875em;
    color: #fff;
    text-transform: uppercase;
}
.aksiya-card-title2{
    width: 100%;
    text-align: left;
    height: auto;
    padding: 8px 6px;
    font-weight: 900;
    color: #fff;
    font-size: 1.5em;
}
.aksiya-card-price{
    width: 100%;
    text-align: left;
    font-size: 1.25em;
    color: #fff;
    font-weight: 900;
}
.spes_box_image{
    width: 100%;
    height: 240px;
}
.spes_box_image img{
    width: 92%;
    height: 100%;
}
.spes_box_title{
    width: 100%;
    height: auto;
    text-align: left;
    padding-left: 12px;
    display: block;
    color: #1e1e1e;
    text-decoration: none;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
.spes_box_title div:nth-child(1){
    font-weight: 700;
    font-size: 1.125em;
    margin-bottom: 2px;
}
.spes_box_title div:nth-child(2){
    font-weight: 300;
    line-height: 24px;
    font-size: 0.875em;
    color: #1e1e1e;
}
.dashboard-container-box-six{
    width: 100%;
    height: auto;

    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.cons_box_card{
    max-width: 32%;
    height: auto;
    padding: 5px 3px ;
    display: flex;
    flex-wrap: wrap;
}
.cons_box_card_image{
    width: 26%;
    height: 107px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cons_box_card_them{
    width: 65%;
    height: 107px;
    display: flex;
    padding-top: 15px;
    padding-left: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: left;
}
.cons_box_card_them div:nth-child(1){
    font-size: 16px;
    font-weight: 700
}
.cons_box_card_them div:nth-child(2){
    font-size: 12px;
    margin-bottom: 2px;
    font-weight: 300
}